.header {
  height: 460px;
  width: 40%;
  position: relative;
  text-align: center;
  background-color: #cf5a00;
  background-image: url("https://www.transparenttextures.com/patterns/back-pattern.png");
  display: flex;
  margin-top: 300px;
  margin-left: 5%;
  margin-right: 5%;
}

.avatarName {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-top: 70px;
}

@media only screen and (max-width: 768px) {
  .header {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    height: 360px;
    
  }
  .avatarName{
    padding-top: 55px;
    
  }
  h2 {
    margin: 0px;
  }
}
