<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Meta Information -->
  <title>Tweeter - Home Page</title>
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
  
  <!-- External CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
    type="text/css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
    integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">

  <!-- External Google Fonts-->
  <link href="https://fonts.googleapis.com/css?family=Bungee%7CBungee+Shade&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300i,700i&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- App CSS -->
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
  <link rel="stylesheet" href="/styles/header.css" type="text/css" />
  <link rel="stylesheet" href="/styles/new-tweet.css" type="text/css" />
  <link rel="stylesheet" href="/styles/article.css" type="text/css" />

  <!-- External JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.6.7/jquery.timeago.min.js"></script>
  
  <!-- App JS -->
  <script type="text/javascript" src="/scripts/client.js"></script>
  <script type="text/javascript" src="/scripts/composer-char-counter.js"></script>

</head>

<body>
  <!-- Top nav bar (fixed) -->
  <nav>
    <span class="tweeter-span">tweeter</span>
    <span class="write-span">Write a new tweet</span>
  </nav>
  <header class="header">
    <div class="avatarName">
      <div>
        <img src="/images/profile-hex.png">
      </div>
      <div>
        <h2>Kasholka</h2>
      </div>
    </div>
  </header>
  <!-- Page-specific (main) content here -->
  <main class="container">
    <section class="new-tweet">
      <h2 id="alert-empty-tweet" class="alert">Please, enter your tweet!</h2>
      <h2 id="alert-exeed-length" class="alert">Your tweet exceeds maximum length, please shorten it up to 140 characters!</h2>
      <form action="/tweets" method="POST" id="form">
        <label class="label-title" for="tweet-text">What are you humming about?</label>
        <textarea name="text" id="tweet-text"></textarea>
        <button id="button" type="submit">Tweet</button>
        <output name="counter" class="counter" for="tweet-text">140</output>
      </form>
    </section>
    <section id="tweets-container">
    </section>
  </main>
</body>

</html>
